# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore build directory
dist/
build/

# Ignore temporary files
*.tmp

# JetBrains directories
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
*.DS_Store
